<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    {% block head %}{% endblock %}
    <title>
      {% block title %}COVID Volunteer and Plasma Donor{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">COVAPLAD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Donation Places</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
        {%  else %}
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
        {% endif %}
      </ul>
    </nav>

    <main class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %} 
        {% endif %} 
      {% endwith %} 
      
      {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
      {% block footer %}
      <small> &copy; 2020 <i>covaplad</i> Developers </small>
      {% endblock %}
    </footer>

    {% block body_end %} {% endblock %}
  </body>
</html>
